{{ $.Scratch.Add "page" true }}
{{ partial "header.html" . }}

<header class="tb-post-header">
  <h1 class="tb-hero-title">{{ .Title }}</h1>
  <p class="tb-hero-p tb-color-red">
    {{.Params.excerpt}}
  </p>
</header>

<section class="tb-list tb-list-all-posts">
{{range .Site.RegularPages }}
<div class="tb-list-item">
    <a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2>
   <p>
    {{if .Param "excerpt"}}
    {{ .Param "excerpt" }}
    {{else}}
    {{ .Summary }}
    {{end}}
    </p>
    </a>
    {{ partial "byauthor.html" . }}
  </div>
{{end}}
</section>
{{ partial "footer.html" . }}

