{{ partial "header.html" . }}

{{ range first 1 (where .Site.Pages "Type" "post")}}
<section class="tb-feature-post">
  {{ partial "posthero.html" . }}
</section>
{{end}}

<section class="tb-post-list">
  {{ range first 3 (after 1 .Pages)}}
  {{ partial "postbox.html" . }}
  {{end}}
</section>


<section class="tb-posts-categs">

  <div class="tb-post-categ">
    <h2>JavaScript</h2>
    {{ range first 7 .Site.Taxonomies.categories.javascript }}

        <h3><a href="{{ .Page.Permalink }}?utm_source=moreLinksHome">{{ .Page.Title }}</a></h3>
        <p>
          {{if .Page.Param "excerpt"}}
            {{ .Page.Param "excerpt" }}
          {{else}}
            {{ .Page.Summary }}
          {{end}}
        </p>

    {{ end }}
  </div>

  <div class="tb-post-categ">
    <h2>Sass</h2>
    {{ range first 7 .Site.Taxonomies.categories.sass }}

        <h3><a href="{{ .Page.Permalink }}?utm_source=moreLinksHome">{{ .Page.Title }}</a></h3>
        <p>
          {{if .Page.Param "excerpt"}}
            {{ .Page.Param "excerpt" }}
          {{else}}
            {{ .Page.Summary }}
          {{end}}
        </p>

    {{ end }}
  </div>

  <div class="tb-post-categ">
    <h2>ReactJS</h2>
    {{ range first 7 .Site.Taxonomies.categories.reactjs }}

        <h3><a href="{{ .Page.Permalink }}?utm_source=moreLinksHome">{{ .Page.Title }}</a></h3>
        <p>
          {{if .Page.Param "excerpt"}}
            {{ .Page.Param "excerpt" }}
          {{else}}
            {{ .Page.Summary }}
          {{end}}
        </p>

    {{ end }}
  </div>

  <div class="tb-post-categ">
    <h2>Design</h2>
    {{ range first 7 .Site.Taxonomies.categories.design }}

        <h3><a href="{{ .Page.Permalink }}?utm_source=moreLinksHome">{{ .Page.Title }}</a></h3>
        <p>
          {{if .Page.Param "excerpt"}}
            {{ .Page.Param "excerpt" }}
          {{else}}
            {{ .Page.Summary }}
          {{end}}
        </p>

    {{ end }}
  </div>
</section>
<a href="{{ .Site.BaseURL }}todos-os-posts/" class="tb-btn tb-btn-seeall">Artigos</a>

{{ partial "footer.html" . }}
