{{ partial "header.html" . }}

<section class="tb-feature-posts">
{{ range first 4 (where .Site.Pages "Type" "post")}}
  <div>
    <a href="{{ .RelPermalink }}" class="tb-post-img">
      <!-- <img alt="Imagem de destaque do post {{ .Title}}" src="{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}"> -->
      <img src="images/UrgN6zz.jpg" alt="">
    </a>
    <h1>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    {{ partial "byauthor.html" . }}
  </div>
  {{end}}
</section>

<section class="tb-post-list">
  {{ range first 3 (after 4 .Pages)}}
  {{ partial "postbox.html" . }}
  {{end}}
</section>

<!-- <section class="tb-banner-home">
  <div class="tb-banner-inner">
    <div id='div-gpt-ad-1506041417420-1'>
        <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1506041417420-1'); });
        </script>
        </div>
    
    <script class='__lxGc__' type='text/javascript'>
    ((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_210746']=__lxGc__['s']['_210746']||{'b':{}})['b']['_607086']={'i':__lxGc__.b++};
    </script> 
  </div>
</section>
-->
<a href="{{ .Site.BaseURL }}todos-os-posts/" class="tb-btn tb-btn-seeall">Artigos</a>

<!-- <div class="tb-home-banner">
    <script class='__lxGc__' type='text/javascript'>
    ((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_210746']=__lxGc__['s']['_210746']||{'b':{}})['b']['_609049']={'i':__lxGc__.b++};
    </script>
</div> -->

{{if .IsHome}}
  {{partial "sponsors/sponsor-logos.html" . }}
{{end}}

<section class="tb-posts-categs">

  <nav>
    <h2>JavaScript</h2>
    <ul>
    {{ range first 7 .Site.Taxonomies.categories.javascript }}
        <li><a href="{{ .Page.Permalink }}?utm_source=moreLinksHome" class="tb-post-categ-js">{{ .Page.Title }}</a></li>
    {{ end }}
    </ul>
  </nav>

  <nav>
    <h2>CSS</h2>
    <ul>
    {{ range first 7 .Site.Taxonomies.categories.css }}
        <li><a href="{{ .Page.Permalink }}?utm_source=moreLinksHome" class="tb-post-categ-css">{{ .Page.Title }}</a></li>
    {{ end }}
    </ul>
  </nav>

  <nav>
    <h2>ReactJS</h2>
    <ul>
    {{ range first 7 .Site.Taxonomies.categories.reactjs }}
        <li><a href="{{ .Page.Permalink }}?utm_source=moreLinksHome" class="tb-post-categ-react">{{ .Page.Title }}</a></li>
    {{ end }}
    </ul>
  </nav>

  <nav>
    <h2>Design</h2>
    <ul>
    {{ range first 7 .Site.Taxonomies.categories.design }}
        <li><a href="{{ .Page.Permalink }}?utm_source=moreLinksHome" class="tb-post-categ-design">{{ .Page.Title }}</a></li>
    {{ end }}
    </ul>
  </nav>
</section>

<section class="tb-comuna">
  <h2>Participe da comunidade</h2>
  <p>São Meetups, eventos e programações sobre desenvolvimento web, design e processos/agile. <br>Você pode começar por aqui:</p>

  <ul>
    <li><a rel="noopener" class="tb-comuna-banner" id="tb-banner-jssp" href="https://www.meetup.com/pt-BR/Javascript-SP/?utm_source=tableless&utm_medium=banner_tableless"><img src="images/comuna-jssp.png"></a></li>
    <li><a rel="noopener" class="tb-comuna-banner" id="tb-banner-femugsp" href="https://www.meetup.com/pt-BR/femugsp/?utm_source=tableless&utm_medium=banner_tableless"><img src="images/comuna-femugsp.png"></a></li>
    <li><a rel="noopener" class="tb-comuna-banner" id="tb-banner-reactjssp" href="https://www.meetup.com/pt-BR/ReactJS-SP/?utm_source=tableless&utm_medium=banner_tableless"><img src="images/comuna-reactsp.png"></a></li>
    <li><a rel="noopener" class="tb-comuna-banner" id="tb-banner-codamos" href="https://www.meetup.com/pt-BR/Codamos-Club/?utm_source=tableless&utm_medium=banner_tableless"><img src="images/comuna-codamos.png"></a></li>
    <li><a rel="noopener" class="tb-comuna-banner" id="tb-banner-csssp" href="https://www.meetup.com/pt-BR/CSS-SP/?utm_source=tableless&utm_medium=banner_tableless"><img src="images/comuna-meetupcss.png"></a></li>
    <li><a rel="noopener" class="tb-comuna-banner" id="tb-banner-processosdev" href="https://www.meetup.com/pt-BR/Processos/?utm_source=tableless&utm_medium=banner_tableless"><img src="images/comuna-processosdev.png"></a></li>
    <!-- <li><a class="tb-comuna-banner" id="tb-banner-htmlsp" href="https://www.meetup.com/pt-BR/html-sp/?utm_source=tableless&utm_medium=banner_tableless"><img src="images/comuna-html5meetup.png"></a></li> -->
  </ul>

</section>

{{ partial "footer.html" . }}
