#tb-header
  padding: 30px $space-default

.tb-logo
  max-width: 200px
  display: inline-block
  vertical-align: middle

  img
    max-width: 100%

#tb-menu
  padding: 40px 0 30px
  max-width: 100%
  overflow: auto
  overflow-scrolling: touch
  
  &::scrollbar
    width: 0px
    background: transparent

  ul
    font-size: 0
    width: 170vw

  li
    display: inline-block
    position: relative

  a
    font: .8rem $avenirBold
    color: $light-gray
    text-transform: uppercase
    text-decoration: none
    display: inline-block
    margin-right: 10px
    &:hover
      color: $gray

.tb-search
  display: none
  order: 3
  border: 1px solid #E3E3E3
  flex: 1 0 100px
  max-width: 210px
  height: 35px
  text-align: left
  position: relative

  input[type="text"]
    color: #656565
    height: inherit
    border: none
    background: transparent
    padding-left: 15px
    padding-right: 40px
    width: 100%
    line-height: 0
    outline: none
  
  [type="image"]
    position: absolute
    right: 10px
    top: 5px

////
// Big Screens
////
@media #{$break-desk}
  #tb-header
    max-width: 1500px
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 70px $space-default 150px

  .tb-logo
    order: 1
    flex: 1 0 200px

  .tb-submenu-parent > a:after
    border-top: 3px solid $gray !important

  #tb-menu
    order: 2
    flex: 1 0 50%
    text-align: center
    overflow: initial
    max-width: auto
    padding-top: 27px
    position: relative
    z-index: 2

    ul
      width: auto
      padding: 0 20px
    
      a, span
        cursor: pointer
        text-transform: initial
        padding: 3px 10px
        color: $text-gray
        font-size: 1rem
        margin-right: 20px

        &:after
          content: ""
          display: inline-block
          margin-left: 7px
          margin-top: -3px
          vertical-align: middle
          width: 0 
          height: 0 

          border-left: 3px solid transparent
          border-right: 3px solid transparent
          border-top: 3px solid #fff

        &:hover
          color: $red
    
      li ul
        width: 250px
        padding: 15px 0 0
        position: absolute
        top: 20px
        left: -20px
        height: 0
        overflow: hidden
        background: rgba(255, 255, 255, .97)
        max-height: 470px

        li
          display: block
          padding: 0
          transform: scale(1.15) translateY(10px)
          opacity: 0
          transition: opacity .25s cubic-bezier(.4, .01, .165, .99), transform .25s cubic-bezier(.4, .01, .165, .99)
          
        a
          display: block !important
          font-family: $avenirRegular
          text-align: left
          padding: 7px 10px
          margin: 0
          color: $gray

          &:hover
            color: $red
            text-decoration: none

      li:hover
        ul
          height: auto
          overflow: auto
          padding-left: 20px
          padding-right: 20px

          li
            opacity: 1
            transform: scale(1) translateX(0px)
            @for $i from 1 through 15
              &:nth-child(#{$i})
                transition-delay: #{.26 - ($i * .05)}s
    
  .tb-search
    display: block