.tb-aside

  h2
    font: 700 1.5rem $fontFamily
    color: $red
    margin-top: 100px
    margin-bottom: 10px

  li
    max-width: 300px
    list-style: none
    padding-bottom: 20px
    font: 400 1rem $fontFamily
    color: $text-gray

    a
      color: $text-gray
      text-decoration: none

      &:hover
        color: $red

  img, img.img_ad
    width: 100% !important
    max-width: 300px