.tb-aside

  h2
    font: 700 1.5rem $fontFamily
    color: $red
    margin-top: 80px
    margin-bottom: 10px

  li
    max-width: 300px
    list-style: none
    padding-bottom: 20px
    font: 400 1rem $fontFamily
    color: $text-gray

    a
      color: $text-gray
      text-decoration: none

      &:hover
        color: $red

  img, img.img_ad
    width: 100% !important
    max-width: 300px

  .tb-book-recommend
    padding-top: 50px
    text-align: center

    & > img
      width: 1px
      height: 1px

    a img
      max-width: 200px

    a
      display: block
      text-decoration: none
      color: $gray
      font: 1.3rem $fontFamily

      &:hover
        color: $red