
<footer id="tb-footer">
    <div class="tb-container">
    <ul class="tb-social-links">
        <li><a href="http://facebook.com/tablelessbr">Facebook</a></li>
        <li><a href="http://twitter.com/tableless">Twitter</a></li>
        <li><a href="http://tableless.com.br/feed">RSS</a></li>
        <li><a href="http://medium.com/tableless">Medium</a></li>
    </ul>
    <nav class="tb-footer-nav">
        <a href="">Contato</a>
        <a href="">Anuncie</a>
        <a href="">Seja um Autor</a>
        <a href="">Fazemos código front-end</a>
    </nav>

    <p class="tb-for-community">
        Escrito pela e para a comunidade web brasileira. <a href="">Ajude</a>.
    </p>
    </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

{{ if $.Scratch.Get "single" }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<script>
$(document).ready(function() {
  $('pre').each(function(i, block) {
    hljs.highlightBlock(block);
  });
})</script>
{{ end }}

</body>
</html>