<form class="tb-search" name="x" action="//duckduckgo.com/">
  <input type="hidden" value="productoversee.com" name="sites"></input>
  <input type="hidden" value="br-pt" name="kl"></input>
  <input type="hidden" value="1" name="kz"></input>
  <input type="hidden" value="e" name="ky"></input>
  <input type="hidden" value="g" name="k8"></input>
  <input type="hidden" value="-1" name="k1"></input>
  <input type="hidden" value="w" name="kj"></input>
  <input type="text" placeholder="Faça sua busca" name="q"></input>
  <input type="image" src="{{ .Site.BaseURL }}images/search.svg">
</form>