<script type="text/javascript" src="https://ads.vidoomy.com/tableless.com.br_14186.js" async></script>


<link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/tableless" title="{{ .Site.Title }}">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


<!--REVUPS <script data-ad-client="ca-pub-6622305925836088" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MBKHDNC');</script>
  <!-- End Google Tag Manager -->
  
  <script async type="text/javascript" src="//s.clickiocdn.com/t/consent_210746.js"></script>
  
  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/style.css?{{ now.Unix }}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="preconnect" href="https://duckduckgo.com/">
  <link rel="preconnect" href="https://www.googletagmanager.com/">
  <link rel="preconnect" href="https://www.google-analytics.com/">
  <link rel="preconnect" href="https://googleads.g.doubleclick.net/">
  <link rel="preconnect" href="https://cloud.netlifyusercontent.com/">
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://adserver.adtech.de/">
  <link rel="preconnect" href="https://cdn-images-1.medium.com/">
  <link rel="preconnect" href="https://c.disquscdn.com/">
  <link rel="prefetch" href="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" as="javascript">
  <link rel="prefetch" href="https://s.clickiocdn.com/t/pb210746.js" as="javascript">
  <link rel="prefetch" href="https://s.clickiocdn.com/t/common_258.js" as="javascript">
  <link rel="prefetch" href="https://a.disquscdn.com/1510956940/images/noavatar92.png" as="image">
  <link rel="prefetch" href="https://disqus.com/next/config.js" as="javascript">
  <link rel="prefetch" href="https://tableless.disqus.com/embed.js" as="javascript">
  <link rel="prefetch" href="https://www.googletagmanager.com/gtm.js?id=GTM-MBKHDNC" as="javascript">
  <link rel="prefetch" href="https://www.googletagservices.com/tag/js/gpt.js" as="javascript">
  <link rel="prefetch" href="https://c.disquscdn.com/next/current/embed/lang/pt_BR.js" as="javascript">
  <link rel="prefetch" href="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" as="javascript">
  <link rel="prefetch" href="https://pagead2.googlesyndication.com/pagead/osd.js" as="javascript">
  <link rel="prefetch" href="https://ssl.google-analytics.com/ga.js" as="javascript">
  <link rel="prefetch" href="https://www.google-analytics.com/analytics.js" as="javascript">




  <link rel="icon" href="https://tableless.com.br/images/favicon.png">



  <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
  <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
  </script>

  <script>
    googletag.cmd.push(function() {
      googletag.defineSlot('/7969368/RetanguloMedio-TopoSidebar', [[300, 250], [336, 280], [300, 300], [360, 360], [300, 600]], 'div-gpt-ad-1514953930189-0').addService(googletag.pubads());
      googletag.defineSlot('/7969368/RetanguloMedio-MiddleSidebar', [300, 600], 'div-gpt-ad-1545588863020-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script>
  <script async type="text/javascript" src="https://s.clickiocdn.com/t/pb210746.js"></script>
  <script async type="text/javascript" src="https://s.clickiocdn.com/t/common_258.js"></script>

