<!DOCTYPE html>
<html lang="pt-br" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" href="favicon.png">
  <base href="{{ .Site.BaseURL }}">
  <title>{{ .Site.Title }}</title>

  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
  {{ end }}

  <meta property="og:url" content="{{ .RelPermalink }}">
  {{ if $.Scratch.Get "single"}}<meta property="og:type" content="article">{{end}}
  <meta property="og:title" content="{{ .Title}}">
  <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{if .Param "excerpt"}}{{ .Param "excerpt" }}{{else}}{{ .Summary }}{{end}}{{ end }}" name="description">
  <meta property="og:image" content="{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}">
  <meta property="fb:app_id" content="187329465112652">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@tableless">
  <meta name="twitter:title" content="{{.Title}}">
  <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{if .Param "excerpt"}}{{ .Param "excerpt" }}{{else}}{{ .Summary }}{{end}}{{ end }}">
  <meta name="twitter:image" content="{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}">

  {{if .IsHome}}
  <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "{{.Site.Params.siteName}}",
      "alternateName": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL}}",
      "description": "Artigos e notíficas sobre desenvolvimento web e design.",
      "publisher": "Tableless",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://duckduckgo.com/?sites=tableless.com.br&q={search_term}&kl=br-pt&kz=1&ky=e&k8=g&k1=-1&kj=w&x=0&y=0&ia=web",
        "query-input": "required name=search_term" }
      }
  </script>
  {{end}}

  {{ if $.Scratch.Get "single"}}

  <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
  <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
  </script>

  <script>
    googletag.cmd.push(function() {
      googletag.defineSlot('/7969368/RetanguloMedio-TopoSidebar', [[300, 250], [300, 300], [360, 360], [336, 280]], 'div-gpt-ad-1491747715151-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.pubads().collapseEmptyDivs();
      googletag.enableServices();
    });
  </script>

  <script type="application/ld+json">
    { "@context": "http://schema.org",
      "@type": "Article",
      "headline": "{{.Title}}",
      "author": "{{ .Param "author" }}",
      "image": "{{ with .Params.image }}{{ . }}{{ else }}/images/missing-img.png{{ end }}",
      "publisher": {
        "@type" : "Organization",
        "name":"{{.Site.Params.siteName}}",
        "logo":"http://tableless.com.br/images/logo.svg"
        },
      "url": "{{ .RelPermalink }}",
      "wordCount": "{{ .FuzzyWordCount }}",
      "keywords": "{{.Params.tags}}",
      "datePublished": "{{.Params.date}}",
      "dateCreated": "{{.Params.date}}",
      "dateModified": "{{.Lastmod}}",
      "articleBody": "{{.Content| plainify}}",
      "description": "{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{if .Param "excerpt"}}{{ .Param "excerpt" }}{{else}}{{ .Summary }}{{end}}{{ end }}"
    }
  </script>

  {{ end }}



</head>
<body>


  <header id="tb-header">
    <a href="{{ .Site.BaseURL }}" class="tb-logo"><img src="images/logo.svg"></a>

    <nav id="tb-menu">
      <ul>
        <li><a href="{{ .Site.BaseURL}}categories/html">HTML</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/css">CSS</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/javascript">JavaScript</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/back-end">Back-end</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/wordpress">WordPress</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/acessibilidade">Acessibilidade</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/design">Design</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/técnicas-e-práticas/">Na prática</a></li>
      </ul>
    </nav>

    <form class="tb-search" name="x" action="//duckduckgo.com/">
        <input type="hidden" value="tableless.com.br" name="sites"></input>
        <input type="hidden" value="br-pt" name="kl"></input>
        <input type="hidden" value="1" name="kz"></input>
        <input type="hidden" value="e" name="ky"></input>
        <input type="hidden" value="g" name="k8"></input>
        <input type="hidden" value="-1" name="k1"></input>
        <input type="hidden" value="w" name="kj"></input>
        <input type="text" placeholder="Faça sua busca" name="q"></input>
        <input type="image" src="images/search.svg">
    </form>

  </header>