<!DOCTYPE html>
<html lang="pt-br" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" href="favicon.png">
  <base href="{{ .Site.BaseURL }}">
  <title>{{ .Site.Title }}</title>

  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
  {{ end }}

  <meta property="og:url" content="{{ .RelPermalink }}">
  {{ if $.Scratch.Get "single"}}<meta property="og:type" content="article">{{end}}
  <meta property="og:title" content="{{ .Title}}">
  <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{if .Param "excerpt"}}{{ .Param "excerpt" }}{{else}}{{ .Summary }}{{end}}{{ end }}" name="description">
  <meta property="og:image" content="{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}">
  <meta property="fb:app_id" content="187329465112652">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@tableless">
  <meta name="twitter:title" content="{{.Title}}">
  <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{if .Param "excerpt"}}{{ .Param "excerpt" }}{{else}}{{ .Summary }}{{end}}{{ end }}">
  <meta name="twitter:image" content="{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}">

  {{if .IsHome}}
  <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "{{.Site.Params.siteName}}",
      "alternateName": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL}}",
      "description": "Artigos e notíficas sobre desenvolvimento web e design.",
      "publisher": "Tableless",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://duckduckgo.com/?sites=tableless.com.br&q={search_term}&kl=br-pt&kz=1&ky=e&k8=g&k1=-1&kj=w&x=0&y=0&ia=web",
        "query-input": "required name=search_term" }
      }
  </script>
  {{end}}

  {{ if $.Scratch.Get "single"}}

  <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
  <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
  </script>

  <script>
    googletag.cmd.push(function() {
      googletag.defineSlot('/7969368/RetanguloMedio-TopoSidebar', [[300, 250], [300, 300], [360, 360], [336, 280]], 'div-gpt-ad-1491747715151-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.pubads().collapseEmptyDivs();
      googletag.enableServices();
    });
  </script>

  <script type="application/ld+json">
    { "@context": "http://schema.org",
      "@type": "Article",
      "headline": "{{.Title}}",
      "author": "{{ .Param "author" }}",
      "image": "{{ with .Params.image }}{{ . }}{{ else }}/images/missing-img.png{{ end }}",
      "publisher": {
        "@type" : "Organization",
        "name":"{{.Site.Params.siteName}}",
        "logo":"http://tableless.com.br/images/logo.svg"
        },
      "url": "{{ .RelPermalink }}",
      "wordCount": "{{ .FuzzyWordCount }}",
      "keywords": "{{.Params.tags}}",
      "datePublished": "{{.Params.date}}",
      "dateCreated": "{{.Params.date}}",
      "dateModified": "{{.Lastmod}}",
      "articleBody": "{{.Content| plainify}}",
      "description": "{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{if .Param "excerpt"}}{{ .Param "excerpt" }}{{else}}{{ .Summary }}{{end}}{{ end }}"
    }
  </script>

  {{ end }}



</head>
<body>


  <header id="tb-header">
    <a href="{{ .Site.BaseURL }}" class="tb-logo"><img src="images/logo.svg"></a>

    <nav id="tb-menu">
      <ul>
        <li><a href="{{ .Site.BaseURL}}categories/html">HTML</a></li>
        <li>
          <a href="{{ .Site.BaseURL}}categories/css">CSS</a>
          <ul>
            <li><a href="{{ .Site.BaseURL}}categories/css3">CSS 3</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/sass">Sass</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/less">Less</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ .Site.BaseURL}}categories/javascript">JavaScript</a>
          <ul>
            <li><a href="{{ .Site.BaseURL}}categories/nodejs">NodeJS</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/jquery">jQuery</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/reactjs">ReactJS</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/angularjs">AngularJS</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/ajax">Ajax</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/meteor">Meteor</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ .Site.BaseURL}}categories/back-end">Back-end</a>
          <ul>
            <li><a href="{{ .Site.BaseURL}}categories/ruby">Ruby</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/php">PHP</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/rails">Rails</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/java">Java</a></li>
          </ul>
        </li>
        <li><a href="{{ .Site.BaseURL}}categories/design">Design</a></li>
        <li>
          <a href="{{ .Site.BaseURL}}categories/mobile">Mobile</a>
          <ul>
            <li><a href="{{ .Site.BaseURL}}categories/responsive-web-design-rwd">Responsive Web Design</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/adaptive-web-design-awd">Adaptive Web Design</a></li>
          </ul>
        </li>
        <li><a href="{{ .Site.BaseURL}}categories/wordpress">WordPress</a></li>
        <li>
          <a href="#">Mais categorias</a>
          <ul>
            <li><a href="{{ .Site.BaseURL}}categories/acessibilidade">Acessibilidade</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/web-semântica/">Web Semântica</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/seo/">SEO</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/agile-e-gestão/">Agile e Gestão</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/técnicas-e-práticas/">Na prática</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/laravel">Laravel</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/semântica">Semântica</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/joomla">Joomla</a></li>
            <li><a href="{{ .Site.BaseURL}}categories/traduções">Traduções</a></li>
            <li><a href="{{ .Site.BaseURL}}/categories/bonito-de-se-ver">Série Bonito de se ver</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/browsers">Browsers</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/convertidos">Convertidos</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/drops">Drops</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/editores">Editores de código</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/eventos-e-workshops">Eventos e Workshops</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/freebies">Freebies</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/git">GIT</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/mercado-e-comportamento">Mercado e comportamento</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/microdata">Microdata</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/not%C3%ADcias">Notícias</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/o-b%C3%A1sico">O Básico</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/podcasts">Podcasts</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/slides-e-apresenta%C3%A7%C3%B5es">Apresentões e Slides</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/tecnologia-e-tend%C3%AAncias">Tecnologia e Tendências</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/tooling">Ferramentas</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/tradu%C3%A7%C3%B5es">Traduções</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/ux">UX</a></li>  
            <li><a href="{{ .Site.BaseURL}}/categories/v%C3%ADdeos-tutoriais">Vídeos tutoriais</a></li>  
          </ul>
        </li>
      </ul>
    </nav>

    <form class="tb-search" name="x" action="//duckduckgo.com/">
        <input type="hidden" value="tableless.com.br" name="sites"></input>
        <input type="hidden" value="br-pt" name="kl"></input>
        <input type="hidden" value="1" name="kz"></input>
        <input type="hidden" value="e" name="ky"></input>
        <input type="hidden" value="g" name="k8"></input>
        <input type="hidden" value="-1" name="k1"></input>
        <input type="hidden" value="w" name="kj"></input>
        <input type="text" placeholder="Faça sua busca" name="q"></input>
        <input type="image" src="images/search.svg">
    </form>

  </header>
