<nav id="tb-menu">
  <ul>
    <li><a href="{{ .Site.BaseURL}}categories/html" class="tb-menu-link">HTML</a></li>
    <li class="tb-submenu-parent">
      <a href="{{ .Site.BaseURL}}categories/javascript" class="tb-menu-link">JavaScript</a>
      <ul class="tb-submenu">
        <li><a href="{{ .Site.BaseURL}}tags/reactjs" class="tb-menu-link">ReactJS</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/jquery" class="tb-menu-link">jQuery</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/angularjs" class="tb-menu-link">AngularJS</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/ajax" class="tb-menu-link">Ajax</a></li>
        <li><a href="{{ .Site.BaseURL}}tags/emberjs" class="tb-menu-link">EmberJS</a></li>
        <li><a href="{{ .Site.BaseURL}}tags/elm" class="tb-menu-link">Elm</a></li>
        
      </ul>
    </li>
    <li class="tb-submenu-parent">
      <a href="{{ .Site.BaseURL}}categories/css" class="tb-menu-link">CSS</a>
      <ul class="tb-submenu">
        <li><a href="{{ .Site.BaseURL}}categories/css3" class="tb-menu-link">CSS 3</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/sass" class="tb-menu-link">Sass</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/less" class="tb-menu-link">Less</a></li>
      </ul>
    </li>
    <li class="tb-submenu-parent">
      <a href="{{ .Site.BaseURL}}categories/back-end" class="tb-menu-link">Back-end</a>
      <ul class="tb-submenu">
        <li><a href="{{ .Site.BaseURL}}categories/php" class="tb-menu-link">PHP</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/java" class="tb-menu-link">JAVA</a></li>
        <li><a href="{{ .Site.BaseURL}}tags/mysql" class="tb-menu-link">MySql</a></li>
        <li><a href="{{ .Site.BaseURL}}tags/asp.net" class="tb-menu-link">ASP.NET</a></li>
      </ul>
    </li>
    <li class="tb-submenu-parent">
      <a href="{{ .Site.BaseURL}}categories/soft-skill" class="tb-menu-link">Soft Skill</a>
      <ul class="tb-submenu">
        <li><a href="{{ .Site.BaseURL}}/categories/carreira" class="tb-menu-link">Carreira</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/notícias" class="tb-menu-link">Notícias</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/mercado/" class="tb-menu-link">Mercado</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/eventos-e-workshops" class="tb-menu-link">Eventos e Workshops</a></li>
      </ul>
    </li>
    <li class="tb-submenu-parent">
      <a href="{{ .Site.BaseURL}}categories/extras" class="tb-menu-link">Extras</a>
      <ul class="tb-submenu">
        <li><a href="{{ .Site.BaseURL}}categories/traduções" class="tb-menu-link">Traduções</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/bonito-de-se-ver" class="tb-menu-link">Série Bonito de se ver</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/slides-e-apresenta%C3%A7%C3%B5es" class="tb-menu-link">Apresentações e Slides</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/convertidos" class="tb-menu-link">Convertidos</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/freebies" class="tb-menu-link">Freebies</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/podcast" class="tb-menu-link">Podcasts</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/v%C3%ADdeos-tutoriais" class="tb-menu-link">Vídeos tutoriais</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/o-b%C3%A1sico" class="tb-menu-link">O Básico</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/técnicas-e-práticas/" class="tb-menu-link">Na prática</a></li>
      </ul>
    </li>
    <li class="tb-submenu-parent">
      <a href="#">Mais categorias</a>
      <ul class="tb-submenu">
        <li><a href="{{ .Site.BaseURL}}categories/git" class="tb-menu-link">GIT</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/design" class="tb-menu-link">Design / UX</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/wordpress" class="tb-menu-link">WordPress</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/joomla" class="tb-menu-link">Joomla</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/laravel" class="tb-menu-link">Laravel</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/acessibilidade" class="tb-menu-link">Acessibilidade</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/semântica" class="tb-menu-link">Web Semântica</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/microdata" class="tb-menu-link">Microdata</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/seo/" class="tb-menu-link">SEO</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/agile-e-gestão/" class="tb-menu-link">Agile e Gestão</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/mercado-e-comportamento" class="tb-menu-link">Mercado</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/tecnologia-e-tend%C3%AAncias" class="tb-menu-link">Tecnologia e Tendências</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/browsers" class="tb-menu-link">Browsers</a></li>
        <li><a href="{{ .Site.BaseURL}}categories/jamstack" class="tb-menu-link">JAMStack</a></li>
        <li><a href="{{ .Site.BaseURL}}/categories/tooling" class="tb-menu-link">Ferramentas</a></li>
        <li><a href="{{ .Site.BaseURL}}tags/meteor" class="tb-menu-link">Meteor</a></li>
      </ul>
    </li>
  </ul>
</nav>