---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content
  label: Pages
  create: all
  match: "*"
- type: directory
  path: content/posts
  label: Posts
  create: all
  match: "**/*"
- type: directory
  path: content/convertidos
  label: Convertidos
  create: all
  match: "**/*"
- type: directory
  path: content/todos-os-posts
  label: Todos os posts
  create: all
  match: "**/*"
- type: directory
  path: content/forum
  label: Forum
  create: all
  match: "**/*"
- type: directory
  path: content/servicos
  label: Servicos
  create: all
  match: "**/*"
- type: directory
  path: content/pages
  label: Pages
  create: all
  match: "**/*"
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_command: hugo -E -F -D -b $DEPLOY_URL -d public
  publish_command: hugo -d public
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.45
  publish_env:
  - HUGO_ENV=production
  - HUGO_VERSION=0.45
  preview_output_directory: public
  output_directory: public
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.54.0
