@font-face {
    font-family: 'AvenirNextBold';
    src: url('../fonts/avenir-next-bold.eot');
    src: url('../fonts/avenir-next-bold.eot') format('embedded-opentype'),
         url('../fonts/avenir-next-bold.woff') format('woff'),
         url('../fonts/avenir-next-bold.ttf') format('truetype'),
         url('../fonts/avenir-next-bold.svg#AvenirNextLTW01BoldRegular') format('svg');
}
@font-face {
    font-family: 'AvenirNextHeavy';
    src: url('../fonts/avenir-next-heavy.eot');
    src: url('../fonts/avenir-next-heavy.eot') format('embedded-opentype'),
         url('../fonts/avenir-next-heavy.woff') format('woff');
}
@font-face {
    font-family: 'AvenirNextDemi';
    src: url('../fonts/avenir-next-demi.eot');
    src: url('../fonts/avenir-next-demi.eot') format('embedded-opentype'),
         url('../fonts/avenir-next-demi.woff') format('woff'),
         url('../fonts/avenir-next-demi.ttf') format('truetype'),
         url('../fonts/avenir-next-demi.svg#AvenirNextDemi') format('svg');
}
/*
@font-face {
    font-family: 'AvenirNextItalic';
    src: url('../fonts/avenir-next-italic.eot');
    src: url('../fonts/avenir-next-italic.eot') format('embedded-opentype'),
         url('../fonts/avenir-next-italic.woff') format('woff'),
         url('../fonts/avenir-next-italic.ttf') format('truetype'),
         url('../fonts/avenir-next-italic.svg#AvenirNextLTW01ItalicRegular') format('svg');
}
*/
@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../fonts/avenir-next-regular.eot');
    src: url('../fonts/avenir-next-regular.eot') format('embedded-opentype'),
         url('../fonts/avenir-next-regular.woff') format('woff'),
         url('../fonts/avenir-next-regular.ttf') format('truetype'),
         url('../fonts/avenir-next-regular.svg#AvenirNextLTW01RegularRegular') format('svg');
}
/*
@font-face {
    font-family: 'AvenirNextThin';
    src: url('../fonts/avenir-next-thin.eot');
    src: url('../fonts/avenir-next-thin.eot') format('embedded-opentype'),
         url('../fonts/avenir-next-thin.woff') format('woff'),
         url('../fonts/avenir-next-thin.ttf') format('truetype'),
         url('../fonts/avenir-next-thin.svg#AvenirNextW01ThinRegular') format('svg');
}*/
