{{ $.Scratch.Add "single" true }}
{{ partial "header.html" . }}
  <header class="tb-post-header">
  {{ partial "posthero.html" . }}
  </header>


<div class="tb-post">

  <section class="tb-post-content">
    <article class="tb-post-article">
      {{.Content}}
    </article>

    <div class="tb-related-posts">
      <h3>Leia mais aqui no Tableless:</h3>

      {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        {{ $.Scratch.Set "has_related" true }}
      {{ end }}

      {{ if $.Scratch.Get "has_related" }}
          <ul>
            {{ $num_to_show := .Site.Params.related_content_limit | default 7 }}
            {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
              <li class="tb-related-post"><a href="{{ .RelPermalink }}/?utm_source=tablelessRelatedLink">{{ .Title }}</a></li>
            {{ end }}
          </ul>
      {{ end }}

    </div>



    {{ partial "disqus.html" . }}
  </section>

 {{partial "sidebar.html" .}}

</div>

{{ partial "footer.html" . }}


