{{ $.Scratch.Add "single" true }}
{{ partial "header.html" . }}
  <header class="tb-post-header">
  {{ partial "posthero.html" . }}
  </header>


<div class="tb-post">

  <section class="tb-post-content">
    <article class="tb-post-article">
      {{.Content}}
    </article>

    <div class="tb-related-posts">
      <h3>Leia mais:</h3>
      <ul>
        {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.categories" "intersect" .Params.categories ) "Permalink" "!=" .Permalink ) }}
        <li class="tb-related-post">
          <a href="{{ .RelPermalink }}/?utm_source=tablelessRelatedLin">{{ .Title | markdownify }}</a><br />
        </li>

        {{ end }}
      </ul>
    </div>


    {{ partial "disqus.html" . }}
  </section>

 {{partial "sidebar.html" .}}

</div>

{{ partial "footer.html" . }}


