{{- partial "header.html" . -}}

<section class="tb-list">

  {{ if eq .Kind "taxonomy" }}
  
    {{if eq .Data.Singular "category" }}
      <h1><small>posts da categoria </small> {{ .Title }}</h1>

      <div class="tb-categ-banner">
        <script class='__lxGc__' type='text/javascript'>
        ((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_210746']=__lxGc__['s']['_210746']||{'b':{}})['b']['_609049']={'i':__lxGc__.b++};
        </script>
      </div>

      <!-- <div class="tb-categ-banner">
        <div id="banner-postlist" style="width:728px;height:90px;margin:0;padding:0"></div>
        <script type="text/javascript">
          var OX_ads = OX_ads || []
          OX_ads.push({
             slot_id: "banner-postlist",
             auid: "540311238"
          });
        </script>
        <script type="text/javascript" src="//pixfuture-d.openx.net/w/1.0/jstag"></script>
      </div> -->

    {{else if eq .Data.Singular "tag"}}
      <h1><small>posts da tag </small> {{ .Title }}</h1>
      
      <div class="tb-categ-banner">
        <script class='__lxGc__' type='text/javascript'>
              ((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_210746']=__lxGc__['s']['_210746']||{'b':{}})['b']['_609049']={'i':__lxGc__.b++};
              </script>
      </div>

    {{else}}
      <h1><small>posts do autor </small> {{ .Title }}</h1>
    {{ end }}

  {{ end }}


  {{ range .Data.Pages }}
  <div class="tb-list-item">
    <a href="{{ .RelPermalink }}">
      <h2>{{ .Title }}</h2>
      <p>
        {{ .Param "excerpt" }}
      </p>
    </a>
    {{ partial "byauthor.html" . }}
  </div>
  {{ end }}

</section>
