<p
  {{ if .Get "height" }} data-height="{{ .Get "height" }}" {{ end }}
  data-theme-id="{{ if .Get "theme" }}{{ .Get "theme" }}{{ else }}1482{{ end }}"
  data-slug-hash="{{ .Get "hash" }}"
  data-default-tab="{{ if .Get "tab" }}{{ .Get "tab" }}{{ else }}result{{ end }}" 
  data-user="{{ .Get "user" }}"
  data-embed-version="2"
  class="codepen"
>
  See the Pen
  <a href="http://codepen.io/{{ .Get "user" }}/pen/{{ .Get "hash" }}/" target="_blank" rel="noopener noreferrer">
    {{ if .Get "title" }}{{ .Get "title" }}{{ else }}{{ .Get "hash" }}{{ end }}
  </a>
  by
  {{ if .Get "author" }}{{ .Get "author" }}{{ end }}
  <a href="http://codepen.io/{{ .Get "user" }}" target="_blank" rel="noopener noreferrer">@{{ .Get "user" }}</a>
  on 
  <a href="http://codepen.io" target="_blank" rel="noopener noreferrer">CodePen</a>.
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>